body {
  background-color: #222;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 1fr 7fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: magenta;
  text-align: center;
}

.sidebar {
  background-color: darkmagenta;
}

.sidebar-text {
  width: 80%;
  padding: 10px;
  margin: 10px auto auto 10px;
  font-size: 16px;
}

#project-title {
  display: inline;
}

.main-content {
  background-color: #333;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px; /* Adjust as needed */
  align-items: start; /* Align grid items to the start of each row */
}

.main-content-container {
  background-color: #333;
  padding: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.task-display {
  border: 3px magenta solid;
  padding: 10px;
  background-color: #444;
  height: 6em;
  overflow:hidden;
}

.task-display.low-priority {
  border-left: 20px green solid;
}
.task-display.med-priority {
  border-left: 20px yellow solid;
}
.task-display.high-priority {
  border-left: 20px red solid;
}

.task-display p {
  margin: 0;
}

.task-display h3 {
  margin: 2px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(34, 34, 34); /* Fallback color */
  background-color: rgb(34, 34, 34, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(34, 34, 34);;
  margin: 60px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: magenta;
  text-decoration: none;
  cursor: pointer;
}

.form-container {
  max-width: 600px;
  margin: auto;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inline-form-header {
  display: block;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.header-form-row {
  align-items: center;
}

.half-width {
  flex: 0 0 48%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select#project-view-select {
  width: 80%;
  padding: 10px;
  margin: 10px auto auto 10px;
  background-color: magenta;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Set the height of textarea elements to match input[type="text"] */
input[type="text"] {
  height: 40px; /* Assuming a height of 40px for the text input */
}

textarea {
  height: 40px; /* Match the height of the text input */
  resize: none; /* Prevent resizing */
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

label[for="low"],
label[for="medium"],
label[for="high"] {
  display: block;
  margin-bottom: 10px;
}

button {
  width: 80%;
  padding: 10px;
  margin: 10px auto auto 10px;
  background-color: magenta;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
